/* Mobile first queries */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@media (min-width: 375px) {


.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  .sedan {
    background-color: hsl(31, 77%, 52%);
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }
  .suv {
    background-color:hsl(184, 100%, 22%);
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
  .luxury {
    background-color:hsl(179, 100%, 13%);
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
  .luxury  button {
    color: hsl(179, 100%, 13%);

  }
  .sedan button {
    color: hsl(31, 77%, 52%);

  } 
  .suv button {
    color: hsl(184, 100%, 22%);

  }
   button {
    background-color:hsl(0, 0%, 95%);
    border-radius: 40px;
    box-shadow: none;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    font-family: 'Lexend Deca', sans-serif;
  }

  p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    padding-bottom: 25px;
    padding-right: 35px;
    margin-top: 30px;

      }
  h1 {
    color:hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
  }}
  
/* Larger than Desktop HD */
@media (min-width: 1440px) {
    .cars {
        justify-content: flex-start;
    flex-direction: row;
    display: flex;
    }
    .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
      .sedan {
        background-color: hsl(31, 77%, 52%);
      }
      .suv {
        background-color:hsl(184, 100%, 22%);
      }
      .luxury {
        background-color:hsl(179, 100%, 13%);
      }
      .luxury  button {
        color: hsl(179, 100%, 13%);
    
      }
      .sedan button {
        color: hsl(31, 77%, 52%);
    
      } 
      .suv button {
        color: hsl(184, 100%, 22%);
    
      }
      .suv button:hover {
        background-color: hsl(184, 100%, 22%);
        color: hsl(0, 0%, 95%);
         }
      .sedan button:hover {
            background-color: hsl(31, 77%, 52%);
            color: hsl(0, 0%, 95%);
        }
    .luxury button:hover {
            background-color: hsl(179, 100%, 13%);
            color: hsl(0, 0%, 95%);
            border-color:hsl(0, 0%, 95%);
        }
      button {
        background-color:hsl(0, 0%, 95%);
        border-radius: 40px;
        box-shadow: none;
        border: none;
    
      }
      p {
        color: hsla(0, 0%, 100%, 0.75);
        font-size: 15px;
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 400;
          }
      h1 {
        color: hsl(0, 0%, 95%);
        font-family: 'Big Shoulders Display', cursive;
      } 
}